"*":
  "exception-reporting":
    userId: "f437027c-3c78-cc3f-0db4-53895ea35305"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    invisibles: {}
    fontSize: 12
    tabLength: 4
    softWrap: true
