format = """
$username@$hostname $directory\
$git_branch\
$git_state\
$git_status\
$git_metrics\
$python\
$conda\
$linebreak
"""

[fill]
symbol = " "

[hostname]
format = "[$ssh_symbol$hostname]($style)"
ssh_only = false

[username]
format = "[$user]($style)"
show_always = true

[directory]
format = "in [$path]($style)[$read_only]($read_only_style) "
read_only = " "
style = "blue"
truncate_to_repo = false
truncation_length = 4

[conda]
format = "via [$symbol$environment]($style) "

[python]
format = 'with [${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'

[character]
error_symbol = "[❯](red)"
success_symbol = "[❯](purple)"
vicmd_symbol = "[❮](green)"

[git_branch]
format = " on [$symbol$branch]($style) "
ignore_branches = ["master", "main"]
style = "bright-green"
symbol = " "

[jobs]
format = "[$symbol]($style)"
number_threshold = 1
style = "bold red"
symbol = ""

[git_status]
format = '([\[$all_status$ahead_behind\]]($style))'
style = "cyan"

[git_state]
format = '\([$state($progress_current/$progress_total)]($style)\)'
style = "bright-black"

[git_metrics]
disabled = false

[cmd_duration]
format = "[$duration]($style)"
style = "yellow"

[time]
disabled = false
format = "[$time]($style) "
style = "bold white"
time_format = "%I:%M %p"
use_12hr = true
